name: codecov.io

on:
  push:
  pull_request:

jobs:
  build:
    name: Code building and testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      # - name: Configuring timezone
      #   uses: szenius/set-timezone@v1.0
      #   with:
      #     timezoneLinux: "Europe/Berlin"

      - name: Running build from src/*.go
        run: |
          go build -o application src/*.go

      - name: Runing tests for coverage
        run: |
          go test -race -coverprofile=coverage.out -covermode=atomic `go list ./... | grep -v vendor/`

      - name: Uploading coverage to Codecov
        run: |
          bash <(curl -s https://codecov.io/bash)
