name: codecov.io

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 #v6.2.0
        with:
          go-version-file: go.mod

      - name: Connect to Tailnet
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 #v4.1.1
        with:
          args: --accept-dns=true
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-runner
          version: latest

      - name: Runing tests for coverage
        run: |
          go test -race -coverprofile=coverage.out -covermode=atomic `go list ./... | grep -v vendor/` -v

      - name: Uploading coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de #v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: TibiaData/tibiadata-api-go
