name: codecov.io

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c #v6.1.0
        with:
          go-version-file: go.mod

      - name: Connect to Tailnet
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        uses: tailscale/github-action@a392da0a182bba0e9613b6243ebd69529b1878aa #v4.1.0
        with:
          args: --accept-dns=true
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-runner
          version: latest

      - name: Runing tests for coverage
        run: |
          go test -race -coverprofile=coverage.out -covermode=atomic `go list ./... | grep -v vendor/` -v

      - name: Uploading coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 #v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: TibiaData/tibiadata-api-go
