name: documentation

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c #v6.1.0
        with:
          go-version-file: go.mod

      - name: Install swag by swaggo
        run: |
          go install github.com/swaggo/swag/cmd/swag@latest

      - name: Run swag to initiate docs
        run: |
          swag init --dir=src/

      - name: Manipulate swagger.json with Release info
        run: |
          # set version of swagger.json to release name
          contents="$(jq '.info.version = "${{ github.event.release.tag_name }}"' docs/swagger.json)" && \
          echo "${contents}" > docs/swagger.json

      - name: Upload swagger.json to release page
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 #2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: docs/swagger.json
          tag: ${{ github.ref }}

      - name: Trigger workflow in tibiadata-api-docs repo
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 #v4.0.1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: tibiadata/tibiadata-api-docs
          event-type: tibiadata-api-docs-release-update
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}", "tag_name": "${{ github.event.release.tag_name }}"}'
